@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo&display=swap&subset=korean');

#bg1 {	
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	}

#bg1 img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

#typing1 {
	font-size: 5rem; 
	position: absolute;
	top: 3%;
	left: 45%;
	text-align: center;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}

#bt1 {
	position: absolute;
	top: 0%;
	left : 80%;
	z-index: 1;
}
#bt1 img{
	position: absolute; top:0; left: 0;
	width: 100%;
	height: 100%;
}
button{ 
	width: 150pt;
	height: 150pt;
}
#p2{
	font-size: 3rem; 
	position: absolute;
	text-align: center;
	left: 32%;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}
#bt2 {
	position: absolute;
	top:70%;
	left : 50%;
	z-index: 1;
}
#typing3 {
	font-size: 10rem; 
	position: absolute;
	top: 8%;
	left: 35%;
	text-align: center;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}
#bt3 {
	position: absolute;
	top: 45%;
	left : 45%;
	z-index: 1;
}

#ib3 {
	background: url( "555.jpg" ) no-repeat;
	background-size: 80%;
	border: none;
	width:200pt;
	height:200pt;
}
#pl{
	font-size: 2rem; 
	position: absolute;
	top: 40%;
	left: 38%;
	text-align: center;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}
#btl1 {
	position: absolute;
	top:80%;
	left : 48%;
	z-index: 1;
}
#pl2{
	font-size: 2rem; 
	position: absolute;
	top: 40%;
	left: 40%;
	text-align: center;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}
#pl3{
	font-size: 2rem; 
	position: absolute;
	top: 40%;
	left: 42%;
	text-align: center;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}
#pl4{
	font-size: 2rem; 
	position: absolute;
	top: 40%;
	left: 40%;
	text-align: center;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}
#pl5{
	font-size: 2rem; 
	position: absolute;
	top: 40%;
	left: 40%;
	text-align: center;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}
#pe{
	font-size: 2rem; 
	position: absolute;
	text-align: center;
	top: 40%;
	left: 43%;
	z-index: 1;
	font-family: 'East Sea Dokdo', cursive;
}
